1. go to google developer console
2. create a new project (test1)
3. go to test1 and enable the necessary APIs. From the search bar search for 'drive api'. go there and click enable
4. then search for 'google sheet api'. go there and enable
5. then click credentials and create credential by creating a service account and give it a name (test11). copy the email showing under service account ID box. then click create and continue
6. then click done
7. click on 'manage service account'
8. then click the 3 dots under the 'actions' column and click 'manage keys'
9. click 'add key' then click 'new key'. click JSON option button then click create. Joson key gets downloaded on your laptop
10. I will have to share (with viewer option) the email address, which I copied earlier, with my google sheet
11. now to work with google sheet we will need pandas and gspread libraries
12. if you don't have gspread, run '!pip install gspread' from cmd line or from jupyter notebook
13. now import pandas and gspred and assign the file path which is in the downloaded json file. we need to copy paste the file path

In [1]:
import pandas as pd

In [2]:
import gspread

In [4]:
# don't miss the double \\ in the file path for the downloaded json file
gc = gspread.service_account(filename='C:\\Users\\islam\\Downloads\\test1-432717-987005567d28.json')

In [5]:
# connect google sheet. locate the path and paste it inside the open_by_url('sheet path')

sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1XdPwIhlb3b2uXNMJqrvnmSim8gwuSAnGosBSHp7WBbw/edit?usp=sharing')

In [7]:
# now want to open a specific worksheet of that file

ws = sheet.worksheet('emp1')

In [10]:
df = pd.DataFrame(ws.get_all_records())
df

      name  age
0    Javed   60
1     Zena   55
2   Adriad   32
3  Rebecca   26
4  Suraiya   23

In [11]:
ws2 = sheet.worksheet('emp2')

In [12]:
df = pd.DataFrame(ws2.get_all_records())
df

      Name  age
0      Tom   30
1     Paul   45
2     Mark   64
3     Jack   50
4  Richard   68